<h1>Task</h1>
<h1><%= @restaurant.name %></h1>
<h6><%= @restaurant.address%></h6>
<h1><%= @restaurant.phone_number%></h1>
<h1><%= @restaurant.category%></h1>
<%=#link_to "Back to List", tasks_path%></h6>
<%=#link_to "Edit task", edit_task_path%></h6>
