<div class = 'container'>
<div class="card">
  <h1><%= @restaurant.name %></h1>
  <h4><%= @restaurant.address %></h4>
  <h4><%= @restaurant.phone_number %></h4>
  <h4><%= @restaurant.category %></h4>
</div>
<hr>
<div class="card-1">
<h2>Reviews</h2>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
  <li class="list-group-item"><%= "⭐️" * review.rating%> <%=review.content %></li>
  <% end %>
</ul>
<hr>
<h2>Create a Review</h2>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating, input_html: { min: 0, max: 5 } %>
  <%= f.input :content %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
<h4><%= link_to "Back", restaurants_path %></h4>
</div>
</div>
